WEBADB_ADDRESS=127.0.0.1:8080
WEBADB_AUTH_TOKEN=replace-with-at-least-16-random-characters
WEBADB_CORE_BINARY=./adbcontrol-core
WEBADB_DATA_DIR=./data
WEBADB_WEB_DIR=./web
WEBADB_COMPANION_APK=./companion.apk
WEBADB_BEHIND_PROXY=false
